* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

:root {
    --primary: #d6350e;
    --primary-dark: #b52b0a;
    --secondary: #f7f9fa;
    --text-dark: #2d3436;
    --text-light: #636e72;
}



body {
    color: var(--text-dark);
    line-height: 1.6;
}

/* Navbar Styles */
.navbar {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.navbar-brand {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand:hover {
    color: var(--primary-dark);
}

.nav-btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
}


h1{
    font-size: large;
    text-align: center;
    margin-bottom: 5rem;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
}

#select-level{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid var(--text-light);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn{
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn:hover {
    background: var(--primary-dark);
    text-decoration: #bababa;
    transform: translateY(-2px);
}

header h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.8rem 0;
    text-align: center;
    display: inline-flex;
}

.gradient-text {
    background: linear-gradient(45deg, var(--primary), var(--primary-dark));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

.back-btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    float: inline-start;
    margin-left: 1rem;
}

#submit-button {
    display: none;
}


